<h1>Edit Caption</h1>

<%= form_for @post do |f| %>


<div>
  <%= f.label :caption %>
  <%= f.text_field :content %>
</div>

<%= f.submit "Submit these changes!" %>

<% end %>


<%= link_to 'View', @post %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Delete', posts_path, method: "delete" %>
