<h1>All Posts</h1>

<% @posts.each do |post| %>

  <% if post.image_url %>
  <%= image_tag post.image_url, class: "index-image" %>
  <% end %>

<br>
<%= post.content %>
<% if post.image.present? %>
<%= image_tag post.image.url(:medium) %>
<% end %>
<br>


<%= link_to 'View', post %>
<%= link_to 'Edit Caption', edit_post_path(post) %>
<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>

<br>
<div class="bubble">
<ul>
  <% post.comments.each do |comment| %>
  <li><%= comment.content %></li>
  <% end %>
</ul>
</div>
<br>
<%= form_for post.comments.build do |f| %>
<%= f.label :Comment %>
<%= f.text_field :content %>
<%= f.hidden_field :post_id %>
<%= f.submit %>

<% end %>




<% end %>




<br>

<%= link_to 'New Post', new_post_path %>

